* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ol,
ul {
  padding-left: 30px;
}
.board-wrapper {
  height: 210px;
  width: 100%;
}
.board-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  width: 100%;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
} 

.status {
  margin-bottom: 10px;
  text-align: center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height:100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width:100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-info {
  margin-left: 20px;
}
.game-board {
  background-color: aquamarine;
  height: 300px;
  width: 300px;
}
